VITE_API_URL = https://test.beep.nl/api/
VITE_BASE_API_URL = https://test.beep.nl
VITE_PENSOFT_API_URL = https://beep-offline-data.pensoft.net/api/scanner/

VITE_GOOGLE_MAPS_KEY =
VITE_ASSETS_URL = "https://assets.beep.nl/static/app"

VITE_DASHBOARD_URL = https://dashboard-test.beep.nl/

VITE_HEATMAP_MAX = 500
