.v-icon {
  color: $color-grey;
  &.color-primary {
    color: $color-primary;
  }
}

.beep-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 2px;
  line-height: 1rem;
  color: $color-white;
  vertical-align: top;
  background-color: $color-grey;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid $color-grey;
  border-radius: 50%;

  &-queen {
    background-image: url('~@assets/img/icn_bee.svg');
    background-size: 10px;

    &.dark {
      background-image: url('~@assets/img/icn_bee_dark.svg');
      border: 1px solid $color-grey-dark !important;
    }
  }

  &-queen--large {
    width: 40px;
    height: 40px;
    background-size: 20px;
  }

  &-sensors {
    font-size: 13px;
    &::before {
      margin-left: 2px;
      font-family: 'Material Design Icons';
      content: '\F060A';
    }
  }

  &-sound {
    background-image: url('~@assets/img/icn_bee.svg');
    background-size: 20px;
    border: none;
    border-radius: 0;
  }
}

.icon-apiary-shared,
.icon-apiary-owned {
  width: 20px;
  height: 20px;
  padding-left: 1px;
  font-size: 14px;
  color: $color-white;
  background-color: $color-primary;
  border: 2px solid $color-primary;
  border-radius: 100%;
}

.icon-side-arrow {
  font-size: 18px;
}
