.rounded-border {
  padding: 12px;
  border: 1px solid $color-grey-light;
  border-radius: 4px;

  @include for-phone-only {
    padding: 0 10px;
  }
}

.border-bottom {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid $color-grey-light;

  @include for-phone-only {
    padding: 10px;
    margin-bottom: 10px;
  }
}
