.svg-text,
.svg-label {
  font: 4mm Helvetica, Arial, sans-serif;
  fill: $color-grey-dark;
}

.svg-text-small {
  font: 3mm Helvetica, Arial, sans-serif;
  fill: $color-grey-dark;
}

.svg-header {
  font: 4mm Helvetica, Arial, sans-serif;
  text-decoration: underline;
}

.svg-input-text {
  font: 3mm Helvetica, Arial, sans-serif;
}

.svg-append {
  font: 6mm Helvetica, Arial, sans-serif;
  fill: $color-grey-dark;
}

.f-color-grey {
  fill: $color-grey;
}
