.svg-text,
.svg-label {
  font: 5mm Helvetica, Arial, sans-serif;
  fill: $color-grey-dark;
}

.svg-text-small {
  font: 3mm Helvetica, Arial, sans-serif;
  fill: $color-grey-dark;
}

.svg-header {
  font: 5mm Helvetica, Arial, sans-serif;
  text-decoration: underline;
}

.svg-up {
  font: 4mm Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.f-color-grey {
  fill: $color-grey;
}
