.svg-text,
.svg-label {
  font: 4.5mm Helvetica, Arial, sans-serif;
  fill: $color-grey-dark;
}

.svg-text-small {
  font: 3mm Helvetica, Arial, sans-serif;
  fill: $color-grey-dark;
}

.svg-header {
  font: 5mm Helvetica, Arial, sans-serif;
  text-decoration: underline;
}

.svg-up {
  font: 3.5mm Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.svg-append {
  font: 6mm Helvetica, Arial, sans-serif;
  fill: $color-grey-dark;
}

.f-color-grey {
  fill: $color-grey;
}
