// fonts

// colors
$color-white: #fff;
$color-black: #000;
$color-grey-dark: #242424;
$color-grey: #606060;
$color-grey-medium: #b0b0b0;
$color-grey-light: #eee;

$color-primary: #ffa000;
$color-orange-medium: #ffedc7;
$color-orange-light: #fffaf0;

$color-grey-light: #ddd; // #b5c4b2;
$color-yellow-mustard: #f7be02;

$color-green: #049717;
$color-green-dark: #1b6308;
$color-blue-dark: #00466b;

$color-beige: #bca55e;
$color-brown-dark: #754b1f;
$color-brown-darkest: #3f3104;

$color-red: #f44336;

.color-primary {
  color: $color-primary;
}

.color-grey {
  color: $color-grey;
}

.color-grey-medium {
  color: $color-grey-medium;
}

.color-grey-dark {
  color: $color-grey-dark;
}

.color-black {
  color: $color-black;
}

// spacing
$gutter-x-small: 0.8rem;
$gutter-small: 1.6rem;
$gutter: 2.4rem;
$gutter-medium: 4.8rem;
$gutter-large: 9.6rem;
$gutter-x-large: 12rem;
