// fonts

// colors
$color-white: #fff;
$color-black: #000;

// spacing
$gutter-x-small: 0.8rem;
$gutter-small: 1.6rem;
$gutter: 2.4rem;
$gutter-medium: 4.8rem;
$gutter-large: 9.6rem;
$gutter-x-large: 12rem;
