@use '../../../node_modules/vuetify/settings' with (
  $list-item-plain-opacity: 1,
  $overlay-opacity: 0.7,
);

.v-card--variant-outlined {
  border: thin solid #ccc !important;
}

.v-container {
  padding: 12px !important;
  @include for-tablet-landscape-up {
    max-width: calc(100vw - 48px) !important;
  }
}

.v-list-item-title {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1rem;
}

.v-theme--beepTheme {
  --v-medium-emphasis-opacity: 1;
  --v-border-color: #ccc;
}

.v-text-field:not(.v-text-field--outlined):not(.v-text-field--solo):not(.v-select)
  input {
  padding: 6px 0 0 8px !important;
}

.v-field.v-field--appended {
  padding-inline-end: 0px;
}
