@use '../../../node_modules/vuetify/settings' with (
  $list-item-plain-opacity: 1,
  $overlay-opacity: 0.7,
);

.text-accent .v-icon {
  color: $color-accent !important;
}

.v-card--variant-outlined {
  border: thin solid #ccc !important;
}

.v-container {
  padding: 12px !important;
  @include for-tablet-landscape-up {
    max-width: calc(100vw - 48px) !important;
  }
}

.v-field.v-field--appended {
  padding-inline-end: 0px;
}

.v-input textarea {
  padding-top: 10px !important;
}

.v-label.v-field-label {
  font-size: 16px !important;
  margin-top: 8px;
}

.v-list-item-title {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1rem;
}

.v-list-item__prepend > .v-icon ~ .v-list-item__spacer {
  width: 12px !important;
}

.v-list-item-subtitle {
  color: rgba(0, 0, 0, 0.6) !important;
  font-size: 0.8125rem !important;
}

.v-label {
  font-size: 0.75rem !important;
  line-height: 1rem;
  letter-spacing: 0.0333333333em !important;
}

.v-slider.v-input--horizontal
  .v-slider-track__tick
  .v-slider-track__tick-label {
  font-size: 0.75rem !important;
  transform: translateX(-50%) !important;
}

.v-theme--beepTheme {
  --v-medium-emphasis-opacity: 1;
  --v-border-color: #ccc;
}

.v-text-field:not(.v-text-field--outlined):not(.v-text-field--solo):not(.v-select)
  input {
  padding: 6px 0 0 8px !important;
}

.v-toolbar__content {
  padding: 4px 10px !important;
}
